<a href="/pun/sys/dashboard/files/fs/<%= output_log %>"
   class="btn btn-primary">
  <i class="fa fa-file-text"></i> View Output Log File
</a>
<a href="/pun/sys/dashboard/files/fs/<%= working_dir %>"
   class="btn btn-primary">
  <i class="fa fa-folder"></i> View Working Directory
</a>
<p>
ODM does not provide an interactive interface.
Progress can be monitored by refreshing the output log file.
Processing results and artifacts are created in the working directory.
</p>
